<div class="grades">
<br><div class="title"><h1>Ciclos Formativos de Formacion Profesional</h1></div><br>
<div class="product-list">
    <div *ngFor="let grade of grades" class="product-card" [routerLink]="['/grades/',grade._id, grade.nombre]">
        <div class="product-image-container">
            <img class="imgs" [src]="'data:image/png;base64,'+ grade.imagen"/>
        </div>
        <div class="product-info-container">
            <div>
                <p class="product-title">{{grade.nombre}}</p>
                <p class="product-title">{{grade.descripcion}}</p>
        </div>
        </div>
    </div>
</div>
</div>