<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form #itemForm="ngForm" name="userForm" role="form" novalidate autocomplete="off">
			<h1>Registrarse</h1><br>
            <input [(ngModel)]="user!.nick" name="nick"  type="text" id="nick" placeholder="Nombre de usuario" required />
			<input [(ngModel)]="user!.email" name="email" type="email" placeholder="Email" required />
			<input [(ngModel)]="user!.password" name="password" type="password" placeholder="Contraseña" required />
			<button (click)="userRegister()">Registrarse</button>
		</form>
	</div>
	<div class="overlay-container">
				<h1>¿Ya eres de los nuestros?</h1>
				<p>Si aún no eres un usuario de NoteChat, ¡No lo dudes y registraté aqui!</p>
				<button class="ghost" id="signUp" [routerLink]="['/login']">Iniciar sesión</button>
	</div>
</div>