.slide{
  margin-top: 120px;
}

.carousel-inner{
  text-align: center;
}


.carousel-item > img{
  width: 1000px;
  display: inline-block;
}
.carousel-caption{
  background-color: rgba(0, 0, 0, 0.44);
  width: 1000px;
  
  margin: auto;
}