.slide{
  margin-top: 120px;
}

.carousel-inner{
  text-align: center;
}


.carousel-item > img{
  width: 1000px;
  display: inline-block;
}
.carousel-caption{
  background-color: rgba(0, 0, 0, 0.44);
  width: 1000px;
  
  margin: auto;
}

.secondary-titles{
  text-align: center;
  margin-top: 10em;
  position: relative;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 1em;
}

.hero-section{
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  color: #fff;
  line-height: 1.4;
  word-spacing: 100vw;
  margin-left: 20px;
}

.skewed{
  position:relative;
  &::before{
    content:'';
    position:absolute;
    z-index:-1;
    right:-2px;
    left:-2px;
    top:-5px;
    bottom:-5px;
    background-color: #FFE11D;
    transform:skewY(-5deg);
  }
}
.title {
  margin-bottom: 5.5rem;
  transition: 0.3s;
  position:relative;
  width:fit-content;
  a {
      position: relative;
      z-index: 2;
    }

  &.style-1 {
    box-shadow: inset 0 -10px 0 0 rgba(#FFE11D, 0.9);
    &:hover {
      box-shadow: inset 0 -50px 0 0 rgba(#FFE11D, 0.9);
    }
  }
}
.body_wrapper{
  align-items: center;
  margin-left:8.33%;
  margin-right:8.33%;
  margin-top: 3em;
  display:flex;
  padding:20px;
  padding-top:30px;
  padding-bottom:30px;
  background-color:#FFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.body_inner_left_holder{
  width:33.333%;
  padding-right:30px;
  padding-top:10px;
}
.body_inner_left{
  width:100%;
  border-radius:50%;
 }
.body_inner_right{
  display:flex;
  width:66.666%;
  justify-content:flex-start;
  float:right;
}