<div class="navbar-component">
  <div class="navbar area">
    <img
      src="https://i.imgur.com/CnJMmnB.png"
      title="Logo de Notechat"
      class="logo"
    />
    <nav role="navigation" id="navigation" class="list">
      <a class="item -link" [routerLink]="['']" >Inicio</a>
      <a class="item -link" (click)="areYouRegistered()" [routerLink]="['grades']">Cursos</a>
      <a class="item -link" (click)="areYouRegistered()" [routerLink]="['centers']">Centros</a>
      <a class="item -link" (click)="areYouRegistered()" [routerLink]="['/profile/', userId]">Perfil</a>
      <div class="button-div" *ngIf="loged == false else profile">
        <button class="login-button" [routerLink]="['login']">Iniciar Sesion</button>
        <button class="signup-button" [routerLink]="['register']">Registrar</button>
      </div>
      <ng-template #profile>
        <ol>
        <p class="user">Hola {{user}}</p>
        <pre class="logout" role="button" (click)="logOut()">Cerrar Sesion</pre>
        </ol>
      </ng-template>
    </nav>
    <img src="https://i.imgur.com/Y4QGB98.png" class="logoempresa">
  </div>
</div>
