<!-- Component -->
<div class="navbar-component">
    <!-- Class `area` is a container -->
    <div class="navbar area">
      <!-- Logo -->
      <img src="https://i.imgur.com/CnJMmnB.png" title="Logo de Notechat" class="logo" />
      <!-- List of links -->
      <nav role="navigation" id="navigation" class="list">
        <a href="#" class="item -link">Home</a>
        <a href="#" class="item -link">Cursos</a>
        <a href="#" class="item -link">Centros</a>
        <a href="#" class="item -link">Perfil</a>
        <span class="item"><i class="fa fa-search"></i></span>
      </nav>
      <!-- Button to toggle the display menu  -->
      <button data-collapse data-target="#navigation" class="toggle">
        <!-- Hamburger icon -->
        <span class="icon"></span>
      </button>
    </div>
  </div>