<div>
    <h1>TERMINOS Y CONDICIONES DE PRIVACIDAD</h1>
    <h2>Protección de datos de carácter personal según la LOPDDD</h2>
    <h3>Chrono Studio, en aplicación de la normativa vigente en materia de protección de datos de carácter personal, informa que los datos personales que se recogen a través de los formularios del Sitio web: www.notechat.es, se incluyen en los ficheros automatizados específicos de usuarios de los servicios de NoteChat. </h3>
    <h3>La recogida y tratamiento automatizado de los datos de carácter personal tiene como finalidad el mantenimiento de la relación comercial y el desempeño de tareas de información, formación, asesoramiento y otras actividades propias de NoteChat. </h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
</div>
