<footer class="flex-rw">
  <ul class="footer-list-top">
    <li>
      <h4 class="footer-list-header">Sobre NoteChat</h4>
    </li>
    <li><a href="" class="generic-anchor footer-list-anchor">Conócenos</a></li>
    <li><a href="" class="generic-anchor footer-list-anchor">Cursos</a></li>
    <li>
      <a href="" class="generic-anchor footer-list-anchor">Listado de centros</a>
    </li>
    <li><a href="" class="generic-anchor footer-list-anchor"></a></li>
    <li><a href="" class="generic-anchor footer-list-anchor"></a></li>
  </ul>
  <ul class="footer-list-top">
    <li>
      <h4 class="footer-list-header">Ayuda</h4>
    </li>
    <li>
      <a href="" class="generic-anchor footer-list-anchor">Contáctanos</a>
    </li>
    <li id="find-a-store">
      <a href="" class="generic-anchor footer-list-anchor">¿Dónde estamos?</a>
    </li>
  </ul>
  <ul class="footer-list-top">
    <li>
      <h4 class="footer-list-header">Términos legales</h4>
    </li>
    <li>
      <a href="" class="generic-anchor footer-list-anchor">Términos y condiciones</a>
    </li>
    <li><a href="" class="generic-anchor footer-list-anchor">Privacidad</a></li>
  </ul>
  <section class="footer-social-section flex-rw">
    <span class="footer-social-overlap footer-social-connect">
      CONECTA <span class="footer-social-small">CON</span> NOSOTROS
    </span>
    <span class="footer-social-overlap footer-social-icons-wrapper">
      <a
        href="https://twitter.com/Notechat_ES"
        class="generic-anchor"
        target="_blank"
        title="Twitter"
        ><i class="fa fa-twitter"></i
      ></a>
      <a
        href="https://www.instagram.com/notechat_es/"
        class="generic-anchor"
        target="_blank"
        title="Instagram"
        ><i class="fa fa-instagram"></i
      ></a>
    </span>
  </section>
</footer>
