<div class="ContenTables">
    <div class="panel">
      <div class="panel-body">
        <div class="title">
          <div>
            <h2 class="no-margin"><strong>Desarrollo de Aplicaciones MultiPlataforma</strong></h2>
            <div class="titleDocument">
            </div>
          </div>
        </div>
        <table>
          <tbody>
            <tr class="thead">
              <td>
                <a href="#"><i class="fa fa-handshake-o" aria-hidden="true"></i></a>
              </td>
              <td class="name">
                <a href="#">Project name
                  <i class="fa fa-caret-down" aria-hidden="true"></i></a>
              </td>
              <td>
                <i class="fa-solid fa-user"></i> User
              </td>
            </tr>
            <tr>
              <td>24-04-2018</td>
              <td>
                <a href="#">algo </a>
              </td>
              <td>Auburn</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
