 <!--Modal new project-->
 <a href="#x" class="overlay" id="popbox"></a>
 <div id="modal-body" class="modal-body">
   <div class="modal-box-pop-header">
     <h2>Nuevo Archivo</h2>
     <a class="close" href="#close"></a>
   </div>
   <div class="modal-box-pop-body">
     <div class="ModalInputContent input-effect">
      <label>Nombre del archivo</label>
       <input class="effectInput" type="text" [(ngModel)]="archivo.nombre" name="nombre"/>
     </div>
     <div class="Divrow">
       <div class="ModalInputContent input-effect">
         <label>Asignaturas</label>
         <select name="miselect" [(ngModel)]="archivo.asignatura" name="asignatura">
           <option *ngFor="let subject of subjects" [value]="subject._id">{{subject.nombre}} </option>
         </select>
       </div>
       <input type="file" class="file-upload" (change)="onSelectFile($event)">
     </div>
   </div>
   <div class="modal-box-pop-footer">
     <input type="submit" id="submit" class="btn-success btn-hover" (click)="addfile()">
   </div>
 </div>